{% extends 'base.html' %}


{% block content %}
{% load cart %}
{% load custom_filter %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div class="container">
   <div class="border rounded p-4 m-4">
   
        <div class="card mx-auto mb-2" id={{product.id}} style="width: 5rem;">
          <div class="card-body">
            <h4 class=" text-center"><b><u>order summery</u></b></h4>
            
            
            <table class="table">
              
              <tbody class=" text-center">
                  
                  <tr>
                      <td>Subtotal (Tax Inclusive)</td>
                     
                      <td>
  {{products.0.cart.total_price|tax_calc}}
                    </td>
                      <!-- |price_total:request.session.cart|currency -->
                  </tr>
                  <tr>
                    <td>Tax (5% )</td>
                   
                    <td>
5%
                  </td>
                    <!-- |price_total:request.session.cart|currency -->
                </tr>
                <tr>
                  <td>Shipping Charge</td>
                 
                  <td>
0
                </td>
                  <!-- |price_total:request.session.cart|currency -->
              </tr>
              <tr>
                <td>Total Amount</td>
               
                <td>
                  {{products.0.cart.total_price|tax_calc}}              </td>
                <!-- |price_total:request.session.cart|currency -->
            </tr>
  
                 
              </tbody>
  
              <tfoot>
               
              </tfoot>
              
          </table>
              <!-- <p class="card-text"><b>{{product.description}}</b></p> -->
             
              <!-- <p class="card-text"><button>Add to cart</button></p>
              <p class="card-text"><button>Shop now</button></p> -->
          </div>
         
  
          <div class="card-footer p-0 no-gutters">
  
            <div class="m-3 p-3">
                <a href="/order"  class="btn btn-outline-info border rounded  col-lg-3 float-right">coupons</a>
            </div>
            {{all_cupons}}
          </div>
  
      </div>
        <hr>
        <div class="m-3 p-3">
            <a href="/order"  class="btn btn-outline-info border rounded  col-lg-3 float-right">continue</a>
        </div>
   </div>
</div>


<!-- modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
              Check Out Form
          </h5>
          <hr>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="m-2 p-3">
            <form action="/check-out" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="">Address</label>
                  <input type="text" name="address" id="" class="form-control" placeholder="" aria-describedby="helpId">
                  
                </div>
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" name="phone" id="" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>

                  <input type="submit" class="btn float-right btn-outline-info col-lg-6" value="Check out">
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>



{% endblock %}