{% extends 'base.html' %}

{% block content %}


<div class="container-fluid mt-3">
	<div class="row">

		<!-- filter -->

		<div class="col-lg-3 mx-auto">
			<div class="list-group">

				<a href="/" class="list-group-item list-group-item-action">All Products</a>

				{% for category in categories %}
				<a href="/?category={{category.id}}"
					class="list-group-item list-group-item-action">{{category.name}}</a>
				{% endfor %}
			</div>
		</div>

		<!-- all products -->
		<div id='products' class="col-lg-9 mx-auto">
			<div class="row mx-auto">
				{% for product in products %}
				
					<div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem;">
						<a href="/single_product?pdtId={{product.id}}"><img class="card-img-top" src="{{product.image.url}}" alt="Card image cap"></a>
						<div class="card-body">
							<p class="card-title">{{product.name}}</p>
							<p class="card-text"><b>{{product.price}}</b></p>
							<!-- <p class="card-text"><b>{{product.description}}</b></p> -->
							<div class="btn-group" role="group" aria-label="Basic example">
								<button type="button" onclick="ShopNowFunction('{{product.id}}')" class="btn btn-outline-success shop_now">Shop now</button>
								<button type="button" onclick="AddCartFunction('{{product.id}}',1)" class="btn btn-outline-info add_cart">Add to cart</button>
									</div>
							<!-- <p class="card-text"><button>Add to cart</button></p>
							<p class="card-text"><button>Shop now</button></p> -->
						</div>
	
						<div class="card-footer p-0 no-gutters">
	
							
	
						</div>
	
					</div>

				
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script> -->

<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" -->
    <!-- integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script> -->

<script>


	// arr_cart=[]
	
	function ShopNowFunction(id){
		alert(id)
	}

	
</script>

{% endblock %}