{% extends 'base.html' %}


{% block content %}

<!-- <div class="container"> -->
    <div class="card mx-auto mb-6" id={{product.id}} style="width: 20rem;">
        <a href="/single_product?pdtId={{product.id}}"><img class="card-img-top" src="{{product.image.url}}" alt="Card image cap"></a>
        <div class="card-body">
            <p class="card-title">{{product.name}}</p>
            <p class="card-text"><b>{{product.price}}</b></p>
            <!-- <p class="card-text"><b>{{product.description}}</b></p> -->
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" onclick="ShopNowFunction('{{product.id}}')" class="btn btn-outline-success shop_now">Shop now</button>
                <button type="button" onclick="AddCartFunction('{{product.id}}')" class="btn btn-outline-info add_cart">Add to cart</button>
                    </div>
            <!-- <p class="card-text"><button>Add to cart</button></p>
            <p class="card-text"><button>Shop now</button></p> -->
        </div>
        <div class="card-footer row">
            <input type="submit" value="-" class="col-2 btn btn-block btn-light border">
            <div class="text-center col">2 in cart</div>
            <input type="submit" value="+" class="col-2 btn btn-block btn-light border">

        </div>

        <div class="card-footer p-0 no-gutters">


        </div>

    </div>
<!-- </div> -->

{% endblock %}